<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>doggy.v1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2124</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2125</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2128</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2176</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2225</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2226</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2339</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2456</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2710</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2758</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2759</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2789</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2839</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2948</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3047</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3348</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3722</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3842</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
